* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #d0bedf;
    --dark-color: #0D0000;
    --mid-color: #A68B81;
    --lightest-color: aliceblue;
    --border-color1: #73515E;
    --border-color2: #73393E;

}

body {

    font-family: "Mulish";
    background-color: var(--light-color);
}

#banner {
    object-fit: cover;
    min-width: 100%;
    height: 300px;
}

.new_webs {
    color: var(--border-color2);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-wrap: nowrap;
}

#sub_heading {
    color: var(--border-color2);
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3rem;
}
/* Properties for the header */
#header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
#search-bar{
    align-items: center;
    display: flex;
    gap:2px;
}
#search-bar input{
    flex-grow: 1;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0.3rem;
    overflow: hidden;
}
#search-bar button{
    font-size: 1.2rem;
    padding: 0.3rem;
    border: none;
    border-radius:15px;
    font-weight: 700;
}
#search-bar button:hover{
    font-size: 1.2rem;
    padding: 0.3rem;
    border: solid 2px black;
    border-radius:15px;
    font-weight: 700;
}
#Links{
    display: flex;
    gap:0.3rem ;
}
#Links a{
    text-decoration: none; 
    color: var(--dark-color);  
    font-weight: 700;
    padding: 0.3rem;
}
#Links a:hover{
    text-decoration: none; 
    color: var(--border-color2);  
    font-weight: 700;
    padding: 0.3rem;
    
}
#sc-logo {
    max-height: 50px;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.8rem;
    background-color: var(--dark-color);

}

#menu-bar a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}

/* Properties for about area */
#about {
    padding: 1.2rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bolder;
    text-align: justify;
}

#about h1 {
    text-align: center;
    font-size: 3.2rem;
    text-shadow: 2px #73515E;
    text-transform: uppercase;
}

/* Properties for Sus Collections */
#spring-winter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-evenly;
}

#Spring {
    text-align: center;
    padding: 15px;
}

#Winter {
    text-align: center;
    padding: 15px;

}

#summer-monsoon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-evenly;


}

#Summer {
    text-align: center;
    padding: 10px;
}

#Monsoon {
    text-align: center;
    padding: 10px;
}

.img_season {
    width: 60%;
    height: 60%;

    border: 5px solid var(--border-color2);
    border-radius: 10px;

}

#About-text {
    padding: 10px;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

/* Properties of footer */
#footer {
    padding: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--lightest-color);

}

#footer-links {
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
    text-align: center;
}

#footer-links li a {
    text-decoration: none;
    color: var(--lightest-color);
}
#footer-links li a:hover {
    text-decoration: none;
    color: var(--border-color2);
    font-weight: bolder;

}
/* For the carousel */
main {
    width: 75%;
    height: 500px;
    box-shadow: 0px 0px 1px saddlebrown;
    margin-top: 8rem;
    /* Center from left and right */
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

#carousel {
    display: flex;
    flex-grow: 1;
}

#carousel button {
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: var(--dark-color);
    color: aliceblue;
}

#carousel button:hover {
    border: 2px solid var(--light-color);
    padding: 0.5rem;
    font-size: 2rem;
}

/* Properties for each webpage */
#page-content{
    width: 100%;
    margin: 0 auto;
    display: grid;
}
/* Properties for heading of each webpage */
#page-heading{
    padding: 0.8rem;
    font-size:2.5rem;
    text-align: center;
    margin: 2px;
}

/* For screens larger than 600px: 2 columns */
@media (min-width: 600px) {
    #page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens larger than 900px: 3 columns */
@media (min-width: 900px) {
    #page-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Properties for product on each page */
.page-items{
    padding: 1.2rem;
    text-align: center;
}
.page-items:hover{

    padding: 1.2rem;
    text-align: center;
    border: 3px solid black;
}
.page-items img{
   max-width: 200px;
   height: 300px;

}

.page-items a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}
.page-items a:hover{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    color:#73393E;}
    
#cart-logo{
    max-height: 50px;
}
